<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Edit profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/extras.css" rel="stylesheet">
</head>
<body>

	<div class="options">
    	<a href="#" class="tooltip-test" onclick="javascript:window.print();" data-original-title="Print CV"><img src="{{ STATIC_URL }}img/print.png" border="0"></a>
        <a href="#" class="tooltip-test" data-original-title="Download"><img src="{{ STATIC_URL }}img/download.png"></a>
	</div>

    <div class="container well">
        <div class="row">
            <div class="span12">
                <div id="data">
                    <div class="row span8">
                	<h2>Your account has finally been set up you can <a href="users/accounts/login">Login here</a></h2>

                    </div>
                </div>
                <div id="social">
                    <a href="#" class="tooltip-test" data-original-title="Facebook"><img src="{{ STATIC_URL }}img/facebookpb.png"></a>
                    <a href="#" class="tooltip-test" data-original-title="Flickr"><img src="{{ STATIC_URL }}img/flickrpb.png"></a>
                    <a href="#" class="tooltip-test" data-original-title="Google +"><img src="{{ STATIC_URL }}img/googlepb.png"></a>
                    <a href="#" class="tooltip-test" data-original-title="My Space"><img src="{{ STATIC_URL }}img/myspacepb.png"></a>
                    <a href="#" class="tooltip-test" data-original-title="Twitter"><img src="{{ STATIC_URL }}img/twitterpb.png"></a>
                    <a href="#" class="tooltip-test" data-original-title="Youtube"><img src="{{ STATIC_URL }}img/youtubepb.png"></a>
              </div>
            </div>
        </div>
    </div>
    
    <div class="container well">
        <div class="row">
            <div class="span12">
                <h1 class="pull-right"><a href="/"><button type="button" class="btn btn-info btn-large" >Login</button></a></h1>
            </div>
        </div>
    </div>
    
    
    
    
<!-- JAVASCRIPT INSERTS -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tab.html"></script>
<script src="{{ STATIC_URL }}js/bootstrap-prettify.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
</body>


</html>
