<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Edit profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/extras.css" rel="stylesheet">
</head>
<body>

	<div class="options">
    	<a href="#" class="tooltip-test" onclick="javascript:window.print();" data-original-title="Print CV"><img src="../img/print.png" border="0"></a>
        <a href="#" class="tooltip-test" data-original-title="Download"><img src="../img/download.png"></a>
	</div>

    <div class="container well">
        <div class="row">
            <div class="span12">
                <div id="photo"><img src="../img/user.png" width="186px"></div>
                <div id="data">
                	<table class="table">
                      <tbody>
                        <tr>
                          <td><h3>Birth</h3></td>
                          <td>05 June 1984</td>
                        </tr>
                        <tr>
                          <td><h3>Address</h3></td>
                          <td>150 5th Avenue, NY</td>
                        </tr>
                        <tr>
                          <td><h3>Phone</h3></td>
                          <td>15 3333-8854</td>
                        </tr>
                        <tr>
                          <td><h3>Mail</h3></td>
                          <td>contato@ficticio.com</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div id="social">
                    <a href="#" class="tooltip-test" data-original-title="Facebook"><img src="../img/facebookpb.png"></a>
                    <a href="#" class="tooltip-test" data-original-title="Flickr"><img src="../img/flickrpb.png"></a>
                    <a href="#" class="tooltip-test" data-original-title="Google +"><img src="../img/googlepb.png"></a>
                    <a href="#" class="tooltip-test" data-original-title="My Space"><img src="../img/myspacepb.png"></a>
                    <a href="#" class="tooltip-test" data-original-title="Twitter"><img src="../img/twitterpb.png"></a>
                    <a href="#" class="tooltip-test" data-original-title="Youtube"><img src="../img/youtubepb.png"></a>
              </div>
            </div>
        </div>
    </div>
    
    <div class="container well">
        <div class="row">
            <div class="span12">
                <h1 class="pull-right"><button type="submit" class="btn btn-info btn-large">Edit your profile</button></h1>
            </div>
        </div>
    </div>
    
    
    
    
<!-- JAVASCRIPT INSERTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-tab.html"></script>
<script src="js/bootstrap-prettify.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
</body>


</html>
